@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
p{
    text-indent: 20px;
    font-size: x-large;
    font-weight: 600;
}
h3{
    text-indent: 20px;
    font-size: x-large;
    font-weight: 600;
}

.bg_whitesmoke{
    background-color: whitesmoke;
}
.space_my{
    margin-left: 2%;
}
.main_my{
    border-radius: 7px;
    padding: 2%;
    background-color: rgba(232, 232, 232, 0.575);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
body{
    background-image: url('images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.shadow{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.h1{
    font-family: 'Anton SC', sans-serif;
}
.largura{
    width: 100%;
}
.border1{
    border-right: solid black 1px;
}
.larg2{
    width: 49%;
}
.title-text{
    font-family: 'Arsenal SC',sans-serif;
    font-size: x-large;
}
.parrudo{
    font-weight: 400;
}
.font-large{
    font-size: x-large;
}
.bg-ac{
    background-color: rgba(215, 215, 215, 0.403);
}
.border2{
    border: solid black 1px;
}
.larg_band{
    width: 30%;
}
.img_media{
    width: 70%;
    height:70%;
}
@media only screen and (max-width: 767px){
    .border1{
        border: solid transparent 1px;
    }
    .img_media{
        width: 90%;
        height: 90%;
        margin-top: 10px;
    }
    .d-flex{
        flex-direction: column;
    }
    .col-sm-4{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .col-sm-8{
        width: 100%;
    }
    .larg_band{
        width: 20%;
    }
    .img_1{
        margin-bottom: 70px;
    }
     .h2{
        font-size: x-large;
        font-weight: 700;
    }
    body{
        position: fixed;
    }
}
